/// FEATURE CARD COMPONENT ///
@use "../utils/animations" as *;

.feature-card {
  padding: 1.75rem;
  // TODO: extract top border to ::before psuedo-element
  border-top: 0.25rem solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px -11px var(--feature-clr-grayishblue);
  transition: transform 0.75s ease-in-out;

  &__heading {
    font-weight: 600;
    font-size: 0 1.25rem;
  }

  &__description {
    font-size: 0.8125rem;
    line-height: 1.5rem;
  }

  &__icon {
    width: 57px;
    height: auto;
  }

  &--supervisor {
    border-color: var(--feature-clr-cyan);
    animation: 0.5s slidein-right ease-in-out;
  }

  &--team {
    border-color: var(--feature-clr-red);
    animation: 0.6s slidein-left ease-in-out;
  }

  &--karma {
    border-color: var(--feature-clr-orange);
    animation: 0.7s slidein-right ease-in-out;
  }

  &--calculator {
    border-color: var(--feature-clr-blue);
    animation: 0.8s slidein-left ease-in-out;
  }
}
