/// FEATURE CARD STYLES ///
@use "../utils" as *;

.feature-card {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px -11px var(--feature-clr-grayishblue);
  
  &__container {
    padding: 1.75rem;
    border-top: .25rem solid transparent;

    // card border colors
    &--supervisor {
      border-color: var(--feature-clr-cyan);
    }

    &--team {
      border-color: var(--feature-clr-red);
    }

    &--karma {
      border-color: var(--feature-clr-orange);
    }

    &--calculator {
      border-color: var(--feature-clr-blue);
    }
  }

  &__icon {
    width: clamp(57px, .657vw + 54.536px, 64px);
    height: auto;
  }
  
  // card animations:
  &--supervisor {
    @include slidein(.3s, "left");
  }
  
  &--calculator {
    @include slidein(.3s, "right", .3s);
  }
  
  &--team {
    @include slidein(.3s, "top", .6s);
  }
  
  &--karma {
    @include slidein(.3s, "bottom", .9s);
  }
}