@use "sass:map";

$directions: (
  "top": -125vh,
  "bottom": 125vh,
  "left": -125vw,
  "right": 125vw
);

@each $direction, $offset in $directions {
  @keyframes slidein-#{$direction} {
    from {
      @if $direction == "top" or $direction == "bottom" {
        translate: 0 $offset;
      } @else if $direction == "left" or $direction == "right" {
        translate: $offset 0;
      }
    }

    to {
      translate: 0;
    }
  }
}

@mixin slidein($duration: .7s, $direction: "left", $delay: 0s) {
  @if map.has-key($directions, $direction) {
    animation: $duration ease-in-out $delay slidein-#{$direction} backwards;
  } @else {
    @warn "Invalid direction: #{$direction}. Using slidein-left.";
    animation: $duration ease-in-out $delay slidein-left backwards;
  }
}