// Adjust these breakpoints as needed

$breakpoints: (
  sm: 375px,
  // (mobile)
  md: 768px,
  // (tablets)
  lg: 1440px // Large devices (desktops)
);

@mixin breakpoints($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}. Using sm breakpoint.";
    @media (min-width: map-get($breakpoints, sm)) {
      @content;
    }
  }
}
