// Change these colors as needed

:root {
  --clr-dark-slate: #4d4f62;
  --clr-turquoise: #44d3d2;
  --clr-sky-blue: #549ef2;
  --clr-coral: #ea5454;
  --clr-ghost-white: #fafafa;
  --clr-orange: #fcae4a;
}
