/// FEATURE CARD LAYOUT ///
@use '../utils/mixins' as *;

.feature-card {

  &__heading {
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__icon {
    float: right;
  }

}

@include breakpoints('lg') {
  .feature-card {
    &--supervisor {
      grid-column: 1 / 2;
      align-self: center;
    }

    &--team {
      grid-column: 2 / 3;
    }

    &--karma {
      grid-column: 2 / 3;
    }

    &--calculator {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }
}
